
!.vscode/extensions.json
# Editor directories and files
# Logs
*.local
*.log
*.mat
*.njsproj
*.npy
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.idea
.vscode/*
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
user-local/
yarn-debug.log*
yarn-error.log*
